.header {
  display:flex;
  align-items: center ;
}

.header a {

  align-items: center;
  text-decoration: none;
}

.image {
  width:150px;
  max-height:60px;
}

.header .title-group {
  padding-left: 25px;
}


.header .title-group i {
  padding-right: 5px;
}
